body {
    margin: 0;
    padding: 0;
    background-color: #0b1622;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heart {
    height: 70px;
    width: 70px;
    background-color: #f20044;
    position: relative;
    box-shadow: 10px 10px 90px #f20044;
    animation: animHeart 1s linear infinite; 
}

.texto {
    text-align: center;
    color: #f2e200;
    font-style: italic;
    margin-top: 20px; /* Ajusta según sea necesario */
    width: 100%; /* Ocupa el ancho completo del contenedor */
    position: absolute; /* Cambiado a 'absolute' para alinear con .heart */
    top: 50%; /* Centra verticalmente el texto */
    transform: translateY(25%); /* Centra verticalmente el texto */
}
h2{
    color: aliceblue;
}

@keyframes animHeart {
    0% {
        transform: rotate(-45deg) scale(1.07);
    }
    80% {
        transform: rotate(-45deg) scale(1);
    }
    100% {
        transform: rotate(-45deg) scale(0.8);
    }
}

.heart::before,
.heart::after {
    content: '';
    position: absolute;
    box-shadow: 10px -10px 90px #f20044;
    height: 70px;
    width: 70px;
    background-color: #f20044;
    border-radius: 50%;
}

.heart::before {
    top: -50%;
}

.heart::after {
    right: -50%;
}
